# 1. Problem Statement:
We have to predict the price of house using various parameters:

### 2. Data Collection
- Dataset source: https://www.kaggle.com/datasets/goelyash/housing-price-dataset-of-delhiindia
- The data consist of 18 columns and 7737 rows.

### 2.1 Import data and required packages

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [21]:
# Import the CSV data as pandas dataframe

df = pd.read_csv("dataset\Delhi_v2.csv")

In [4]:
df.head()

,Unnamed: 0,price,Address,area,latitude,longitude,Bedrooms,Bathrooms,Balcony,Status,neworold,parking,Furnished_status,Lift,Landmarks,type_of_building,desc,Price_sqft
0,0,5600000.0,"Noida Extension, Noida, Delhi NCR",1350.0,28.608850,77.460560,3.0,3.0,NaN,Under Construction,New Property,NaN,NaN,2.0,NaN,Flat,\n\n\n Welcome ...,4148.148148
1,1,8800000.0,"Sector 79, Gurgaon, Delhi NCR",1490.0,28.374236,76.952416,3.0,3.0,NaN,Ready to Move,New Property,NaN,Semi-Furnished,2.0,NaN,Flat,\n\n\n Mapsko M...,5906.040268
2,2,16500000.0,"Vaishali, Ghaziabad, Delhi NCR",2385.0,28.645769,77.385110,4.0,5.0,NaN,Ready to Move,New Property,1.0,Unfurnished,NaN,NaN,Flat,\n\n\n This pro...,6918.238994
3,3,3810000.0,"Link Road, F Block, Sector 50, Noida, Uttar Pr...",1050.0,28.566914,77.436434,2.0,2.0,3.0,NaN,New Property,1.0,Unfurnished,2.0,near Gaur Mulberry Mansion,Flat,\n\n\n AIG Roya...,3628.571429
4,4,6200000.0,"Jaypee Pavilion Court Sector 128, Noida, Secto...",1350.0,28.520732,77.356491,2.0,2.0,3.0,Ready to Move,Resale,1.0,NaN,3.0,NaN,Flat,\n\n\n The prop...,4592.592593

In [5]:
df.shape

(7738, 18)

### 3. Data checks to perform

In [6]:
# 3.1 Checking missing values
df.isna().sum()

Unnamed: 0             0
price                  0
Address                0
area                   0
latitude               0
longitude              0
Bedrooms               0
Bathrooms              0
Balcony             2572
Status               574
neworold               0
parking             5126
Furnished_status    3614
Lift                6005
Landmarks           4979
type_of_building       0
desc                   0
Price_sqft             0
dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7738 entries, 0 to 7737
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        7738 non-null   int64
 1   price             7738 non-null   float64
 2   Address           7738 non-null   object
 3   area              7738 non-null   float64
 4   latitude          7738 non-null   float64
 5   longitude         7738 non-null   float64
 6   Bedrooms          7738 non-null   float64
 7   Bathrooms         7738 non-null   float64
 8   Balcony           5166 non-null   float64
 9   Status            7164 non-null   object
 10  neworold          7738 non-null   object
 11  parking           2612 non-null   float64
 12  Furnished_status  4124 non-null   object
 13  Lift              1733 non-null   float64
 14  Landmarks         2759 non-null   object
 15  type_of_building  7738 non-null   object
 16  desc              7738 non-null   object
 17  Price_sqft        7738 non-null   float64
dtypes: float64(10), int64(1), object(7)
memory usage: 1.1+ MB

In [22]:
df.nunique()

Unnamed: 0          7738
price                584
Address             4145
area                1102
latitude            2942
longitude           2912
Bedrooms               9
Bathrooms              9
Balcony               10
Status                 2
neworold               2
parking               65
Furnished_status       3
Lift                  11
Landmarks           2612
type_of_building       2
desc                4181
Price_sqft          3946
dtype: int64

In [23]:
df.drop(columns=["Unnamed: 0","Landmarks"],inplace=True)

In [24]:
df.head()

,price,Address,area,latitude,longitude,Bedrooms,Bathrooms,Balcony,Status,neworold,parking,Furnished_status,Lift,type_of_building,desc,Price_sqft
0,5600000.0,"Noida Extension, Noida, Delhi NCR",1350.0,28.608850,77.460560,3.0,3.0,NaN,Under Construction,New Property,NaN,NaN,2.0,Flat,\n\n\n Welcome ...,4148.148148
1,8800000.0,"Sector 79, Gurgaon, Delhi NCR",1490.0,28.374236,76.952416,3.0,3.0,NaN,Ready to Move,New Property,NaN,Semi-Furnished,2.0,Flat,\n\n\n Mapsko M...,5906.040268
2,16500000.0,"Vaishali, Ghaziabad, Delhi NCR",2385.0,28.645769,77.385110,4.0,5.0,NaN,Ready to Move,New Property,1.0,Unfurnished,NaN,Flat,\n\n\n This pro...,6918.238994
3,3810000.0,"Link Road, F Block, Sector 50, Noida, Uttar Pr...",1050.0,28.566914,77.436434,2.0,2.0,3.0,NaN,New Property,1.0,Unfurnished,2.0,Flat,\n\n\n AIG Roya...,3628.571429
4,6200000.0,"Jaypee Pavilion Court Sector 128, Noida, Secto...",1350.0,28.520732,77.356491,2.0,2.0,3.0,Ready to Move,Resale,1.0,NaN,3.0,Flat,\n\n\n The prop...,4592.592593

In [25]:
missing_features = df.columns[df.isnull().sum() > 0]
print("Features with missing values:", missing_features)
# Select only numeric columns from the missing features
numeric_missing_features = df[missing_features].select_dtypes(include=["number"])

# Compute correlation with price
corr_with_price = numeric_missing_features.corrwith(df["price"])

# Display correlations
print(corr_with_price.sort_values(ascending=False))

Features with missing values: Index(['Balcony', 'Status', 'parking', 'Furnished_status', 'Lift'], dtype='object')
Balcony    0.255096
Lift       0.037892
parking   -0.041640
dtype: float64

In [26]:
df.drop(columns=["Balcony","Lift","parking"],inplace=True)

In [27]:
df.isnull().sum()

price                  0
Address                0
area                   0
latitude               0
longitude              0
Bedrooms               0
Bathrooms              0
Status               574
neworold               0
Furnished_status    3614
type_of_building       0
desc                   0
Price_sqft             0
dtype: int64

In [18]:
df["Furnished_status"].nunique()

3

In [19]:
df["Furnished_status"].unique()

array([nan, 'Semi-Furnished', 'Unfurnished', 'Furnished'], dtype=object)

In [28]:
df.nunique()

price                584
Address             4145
area                1102
latitude            2942
longitude           2912
Bedrooms               9
Bathrooms              9
Status                 2
neworold               2
Furnished_status       3
type_of_building       2
desc                4181
Price_sqft          3946
dtype: int64

In [31]:
df.drop(columns=["Status"],inplace=True)

In [34]:
df.isnull().sum()

price                  0
Address                0
area                   0
latitude               0
longitude              0
Bedrooms               0
Bathrooms              0
neworold               0
Furnished_status    3614
type_of_building       0
desc                   0
Price_sqft             0
dtype: int64

In [35]:
df = pd.get_dummies(df, columns=["Furnished_status"], drop_first=True)

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7738 entries, 0 to 7737
Data columns (total 13 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   price                            7738 non-null   float64
 1   Address                          7738 non-null   object
 2   area                             7738 non-null   float64
 3   latitude                         7738 non-null   float64
 4   longitude                        7738 non-null   float64
 5   Bedrooms                         7738 non-null   float64
 6   Bathrooms                        7738 non-null   float64
 7   neworold                         7738 non-null   object
 8   type_of_building                 7738 non-null   object
 9   desc                             7738 non-null   object
 10  Price_sqft                       7738 non-null   float64
 11  Furnished_status_Semi-Furnished  7738 non-null   bool
 12  Furnished_status_Unfurnished     7738 non-null   bool
dtypes: bool(2), float64(7), object(4)
memory usage: 680.2+ KB

In [37]:
df.isnull().sum()

price                              0
Address                            0
area                               0
latitude                           0
longitude                          0
Bedrooms                           0
Bathrooms                          0
neworold                           0
type_of_building                   0
desc                               0
Price_sqft                         0
Furnished_status_Semi-Furnished    0
Furnished_status_Unfurnished       0
dtype: int64

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7738 entries, 0 to 7737
Data columns (total 13 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   price                            7738 non-null   float64
 1   Address                          7738 non-null   object
 2   area                             7738 non-null   float64
 3   latitude                         7738 non-null   float64
 4   longitude                        7738 non-null   float64
 5   Bedrooms                         7738 non-null   float64
 6   Bathrooms                        7738 non-null   float64
 7   neworold                         7738 non-null   object
 8   type_of_building                 7738 non-null   object
 9   desc                             7738 non-null   object
 10  Price_sqft                       7738 non-null   float64
 11  Furnished_status_Semi-Furnished  7738 non-null   bool
 12  Furnished_status_Unfurnished     7738 non-null   bool
dtypes: bool(2), float64(7), object(4)
memory usage: 680.2+ KB

In [39]:
df.describe()

,price,area,latitude,longitude,Bedrooms,Bathrooms,Price_sqft
count,7.738000e+03,7738.000000,7738.000000,7738.000000,7738.000000,7738.000000,7738.000000
mean,8.320635e+06,1409.506591,28.552092,77.273476,2.708193,2.501163,5543.660241
std,7.223197e+06,718.929581,0.107420,0.180606,0.877026,0.867050,2408.659307
min,1.700000e+06,501.000000,28.240023,76.884101,2.000000,2.000000,2100.000000
25%,4.200000e+06,990.000000,28.455539,77.078590,2.000000,2.000000,3950.986915
50%,6.000000e+06,1250.000000,28.574637,77.345320,3.000000,2.000000,4972.674332
75%,9.500000e+06,1650.000000,28.642520,77.421054,3.000000,3.000000,6350.638693
max,8.500000e+07,9500.000000,28.799748,77.688028,10.000000,10.000000,44378.698225

In [40]:
# define numerical & categorical columns
numeric_features = [feature for feature in df.columns if df[feature].dtype != 'O']
categorical_features = [feature for feature in df.columns if df[feature].dtype == 'O']

# print columns
print('We have {} numerical features : {}'.format(len(numeric_features), numeric_features))
print('\nWe have {} categorical features : {}'.format(len(categorical_features), categorical_features))

We have 9 numerical features : ['price', 'area', 'latitude', 'longitude', 'Bedrooms', 'Bathrooms', 'Price_sqft', 'Furnished_status_Semi-Furnished', 'Furnished_status_Unfurnished']

We have 4 categorical features : ['Address', 'neworold', 'type_of_building', 'desc']

In [41]:
df.nunique()

price                               584
Address                            4145
area                               1102
latitude                           2942
longitude                          2912
Bedrooms                              9
Bathrooms                             9
neworold                              2
type_of_building                      2
desc                               4181
Price_sqft                         3946
Furnished_status_Semi-Furnished       2
Furnished_status_Unfurnished          2
dtype: int64

In [42]:
df.drop(columns=["Address"],inplace=True)

In [43]:
df.nunique()

price                               584
area                               1102
latitude                           2942
longitude                          2912
Bedrooms                              9
Bathrooms                             9
neworold                              2
type_of_building                      2
desc                               4181
Price_sqft                         3946
Furnished_status_Semi-Furnished       2
Furnished_status_Unfurnished          2
dtype: int64

In [44]:
df["neworold"].unique()

array(['New Property', 'Resale'], dtype=object)

In [46]:
df["type_of_building"].unique()

array(['Flat', 'Individual House'], dtype=object)

In [47]:
df.head()

,price,area,latitude,longitude,Bedrooms,Bathrooms,neworold,type_of_building,desc,Price_sqft,Furnished_status_Semi-Furnished,Furnished_status_Unfurnished
0,5600000.0,1350.0,28.608850,77.460560,3.0,3.0,New Property,Flat,\n\n\n Welcome ...,4148.148148,False,False
1,8800000.0,1490.0,28.374236,76.952416,3.0,3.0,New Property,Flat,\n\n\n Mapsko M...,5906.040268,True,False
2,16500000.0,2385.0,28.645769,77.385110,4.0,5.0,New Property,Flat,\n\n\n This pro...,6918.238994,False,True
3,3810000.0,1050.0,28.566914,77.436434,2.0,2.0,New Property,Flat,\n\n\n AIG Roya...,3628.571429,False,True
4,6200000.0,1350.0,28.520732,77.356491,2.0,2.0,Resale,Flat,\n\n\n The prop...,4592.592593,False,False

In [48]:
df.drop(columns=["desc"],inplace=True)

In [49]:
# define numerical & categorical columns
numeric_features = [feature for feature in df.columns if df[feature].dtype != 'O']
categorical_features = [feature for feature in df.columns if df[feature].dtype == 'O']

# print columns
print('We have {} numerical features : {}'.format(len(numeric_features), numeric_features))
print('\nWe have {} categorical features : {}'.format(len(categorical_features), categorical_features))

We have 9 numerical features : ['price', 'area', 'latitude', 'longitude', 'Bedrooms', 'Bathrooms', 'Price_sqft', 'Furnished_status_Semi-Furnished', 'Furnished_status_Unfurnished']

We have 2 categorical features : ['neworold', 'type_of_building']

In [51]:
df.to_csv("dataset\cleaned.csv")

In [14]:
import pandas as pd
df1 = pd.read_csv("dataset/cleaned3.csv")

In [16]:
df1["type_of_building"].unique()

array(['Flat', 'Individual House'], dtype=object)

In [11]:
# df1.drop(columns=["Price_sqft"],inplace=True)
df1 = df1.rename(columns={"Furnished_status_Semi-Furnished":"Furnished_status_Semi_Furnished"})

In [12]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7738 entries, 0 to 7737
Data columns (total 10 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   price                            7738 non-null   float64
 1   area                             7738 non-null   float64
 2   latitude                         7738 non-null   float64
 3   longitude                        7738 non-null   float64
 4   Bedrooms                         7738 non-null   float64
 5   Bathrooms                        7738 non-null   float64
 6   neworold                         7738 non-null   object
 7   type_of_building                 7738 non-null   object
 8   Furnished_status_Semi_Furnished  7738 non-null   bool
 9   Furnished_status_Unfurnished     7738 non-null   bool
dtypes: bool(2), float64(6), object(2)
memory usage: 498.9+ KB

In [13]:
df1.to_csv("dataset/cleaned3.csv",index=False)